@use "./partials/variables" as *;
@use "./partials/mixins" as *;


@font-face {
    font-family: 'Nova';
    src: url(/assets/fonts/NovaSquare-Regular.ttf) format(truetype);
}

// html,
// body {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     font-family: 'Helvetica';
// }

// a {
//     text-decoration: none;
// }

// h1 {
//     font-size: 42px;
//     @include tablet {
//         font-size: 88px;
//     }
// }
// h2 {
//     font-size: 20px;
//     @include mobile {
//         font-size: 30px;
//     }
// }
// p {
//     font-size: .6rem;
//     @include mobile {
//         font-size: 1rem;
//     }
// }
// nav,
// footer {
//     padding: 0 1rem;
// }



.hero {
    padding: 0 1rem;
    background: linear-gradient(0deg, #2c2c2c6f, #2c2c2c6f) ,url(/assets/images/hero.png);
    background-size: cover;
    color: white;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        height: 30rem;
        padding: 0 2rem;
    }

    &__header {
        margin: 0;
        max-width: 500px;
        @include tablet {
            max-width: 715px;
        }
        @include desktop {
            max-width: 800px;
        }
    }

    &__desc {
        width: 50%;
    }
}

.mission {
    padding: 3rem 2rem 3rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        background-color: $primary-red;
        color: white;
        font-size: 1rem;
        line-height: 1rem;
        padding: 2.5rem 1rem;
        @include mobile {
            width: 80%;
            padding: 2.5rem;
            box-shadow: .5rem 1rem 1rem #8b8b8b;
            max-width: 478px;
        }
    }

    &__header {
        border-bottom: 2px solid #364259;
        width: 90%;
        padding-bottom: .5rem;
        margin-top: 0;
        margin-bottom: .5rem;
    }
}

.about {
    line-height: 1.5rem;
    padding: 1rem;
    background-color: #e3e8f1;
    @include tablet {
        padding: 2rem;
        line-height: 1.8rem;
    }

    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__header {
        color: #364259;
        margin: 2rem 0 1rem;
        font-size: 30px;
    }

    &__text {
        padding: .3rem 0;
        color: #737373;
        @include tablet {
            width: 100%;
            padding: .3rem 1rem;
        }
    }
}
