@use "./partials/globals.scss" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./home.scss" as *;

.top-banner {
    background: linear-gradient(0deg, #2c2c2c6f, #2c2c2c6f) , url(../assets/images/savannah.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-position: center;
    @include tablet {
        height: 10rem;
    }
    @include desktop {
        height: 15rem;
    }

    &__header {
        color: white;
        margin: 0;

    }
}

.main {
    display: flex;
    justify-content: center;
    background-color: #e3e8f1;
    @include desktop {
        padding: 5rem 0;
    }

    .meeting {
        background-color: #e3e8f1;
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2rem;
        width: 100%;
        padding: 3rem 1em;
        row-gap: 2rem;
        max-width: 475px;
        @include desktop {
            max-width: none;
            column-gap: 5rem;
        }

        &__card {
            background-color: white;
            width: 185px;
            height: 245px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: .5rem .5rem 1rem #898d95;
            transition: border-radius .3s, box-shadow .3s;
            
            &:hover {
            box-shadow: .8rem .8rem 1.2rem #4f5257;
            border-radius: 0;
            
            }
        }

        &__date {
            background-color: #35363a;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;

            &--day {
                font-size: 2rem;
            }

            p, 
            h3 {
                margin: 0;
            }
        }

        &__info {
            padding: 1rem;
        }

        &__name {
            font-size: 1rem;
            font-weight: 700;
        }

        &__location {
            color: #737373;;
            font-size: .8rem;
        }
    }
}